<p id="notice"><%= notice %></p>

<h1><%= @beer_club.name %> <%= @beer_club.city %></h1>
  
<p>
  Founded
  <%= @beer_club.founded %>
</p>

<h3>Members</h3>

<ul>
  <% @beer_club.members.each do |user| %>
    <li>
      <%= link_to user.username, user %>
    </li>
  <% end %>
</ul>

<% if current_user and current_user.memberships.all? { |m| m.beer_club.id != @beer_club.id } %>

  <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value:"join the club" %>
  <% end %>

<% elsif current_user %>

  <%= form_for(current_user.memberships.find { |m| m.beer_club.id == @beer_club.id }, method: "delete") do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value: "end the membership" %>
  <% end %>

<% end %>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) %>